a.register-button, a.login-button {
    border-radius: 4px;
    background-color: lightskyblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1px 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}

input.register-button, input.login-button {
    border-radius: 4px;
    background-color: lightskyblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1px 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}

input.fogot-button {
    border-radius: 4px;
    background-color: lightskyblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1px 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}


.redtext {
    color: red;
    text-shadow: black;
}

input.create-button {
    border-radius: 4px;
    background-color: lightskyblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}

.reglog-center{
    text-align: center
}

.reglog-switch{
    margin: 20px;
    border-radius: 10px;
    border: 2px solid lightskyblue;
    padding: 10px;
}