.profile-container{

}

.profile-bio{

}

img.profile-img{
    height: auto;
    max-width: 15%;
    box-shadow: 0px 0px 40px 20px #87cefa;
}

div.profile-img{
    padding: 2%;
    text-align: center;
}

h1.profile-name{
    text-align: center;
    font-family: 'Space Mono',normal;
}