.survey{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.top{
    font-family: 'Space Mono',normal;
    text-align: center;
}

.bottom{
    font-family: 'Space Mono',normal;
    text-align: center;
}

img.clothes{
    margin: auto;
    height: 400px;
    width: 400px;
}