.survey{
    border-color: lightskyblue;
    border-style: solid;
    margin:auto;
}

.top{
    font-family: 'Space Mono',normal;
    text-align: center;
}

.bottom{
    font-family: 'Space Mono',normal;
    text-align: center;
}

img.clothes{
    height: 200px;
    width: auto;
}

tr.clothes{
    border: 1px solid dodgerblue;
    width: auto;
}

h1.survey-title{
    font-family: 'Space Mono',normal;
    text-align: center;
    text-decoration: underline;
}

survey-table{
    width: auto;
    margin: auto;
    background-color: aliceblue;
}