.survey{
    border-color: lightskyblue;
    border-style: solid;
    margin: 20px auto;
}

.top{
    font-family: 'Space Mono',normal;
    text-align: center;
}

.bottom{
    font-family: 'Space Mono',normal;
    text-align: center;
}

img.clothes{
    height: auto;
    max-width: 75%;
}

tr.clothes{
    border: 1px solid dodgerblue;
    width: auto;
}

h1.survey-title{
    font-family: 'Space Mono',normal;
    text-align: center;
    text-decoration: underline;
}

table.survey-table{
    margin: auto;
}

form.survey-form{
    text-align: center;
}

input.vote-button{
    border-radius: 4px;
    background-color: dodgerblue;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}