.header{
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: lightskyblue;
    text-shadow: 2px 1px 1px black;
}

.footer{
    background-color: lightskyblue;
}
